{% extends 'base.html' %}

{% block content %}

<div class="about-container">
  <table>
    <tr>
      <td><img src="https://i.imgur.com/YPEu8DA.png"> </td>
      <td><h1>Choruso - The Ultimate Playlist Creator App</h1></td>
    <tr>
  </table>
  <hr>
  <p>At Choruso, we believe that music is a universal language that brings people together. That's why we've created a playlist creator app that makes it easy for music enthusiasts to curate the perfect playlist for any occasion.</p>
  <p>Our user-friendly interface allows you to easily browse through your music library, select your favorite tracks, and organize them into a customized playlist.</p>
  <p>Join our community of music lovers and elevate your listening experience with Choruso!</p>
  <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_e73nHv743E.json" background="transparent"  speed="1" loop autoplay></lottie-player>
</div>

{% endblock %}