{% extends 'base.html' %} {% block content %}
{%load static%}
<h1>Song Details</h1>
<div class="card">
    <a href="{% url 'songs_detail' song.id %}">
        <div class="card-content">
            <span class="card-title">
                <p>{{ song.title }}</p>
                <p id="song-artist"> {{song.artist}}</p>
            </span>
        </div>
    </a>
    <div class="card-action">
        <a href="{% url 'songs_update' song.id %}">
            <img class="left" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/setting-432-551863.png?f=avif&w=256"alt="Edit" style="width:32px; height:32px;">
        </a>
        <a href="{% url 'songs_delete' song.id %}">
            <img class="right" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/delete-758-551869.png?f=avif&w=256" alt="Delete"style="width:32px; height:32px;">
        </a>
    </div>
</div>
{% endblock %}