{% extends 'base.html' %} {% block content %}

{% load static %}
<h1>Playlist Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ playlist.name }}</span>
        <p>Image: {{ playlist.image }}</p>
        <p>Description: {{ playlist.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'playlist_update' playlist.id %}">Edit</a>
        <a href="{% url 'playlist_delete' playlist.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
</div>

 <div>
  <form action="" method="POST" autocomplete="off">
    <a href="{% url 'songs_create' %}" class="btn btn-primary btn-lg">Add Songs</a>
  </form>
</div> 


<hr>

<div class="row">
  <div class="col s6">
    <h3>{{ playlist.name }}'s Songs</h3>
    {% if playlist.songs.count %} {% for song in playlist.songs.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ song.title }} by <div id="song-artist"> {{song.artist}}</div>
        </span>
      </div>

      <div class="card-action">
        <form action="{% url 'remove_song' playlist.id song.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Songs :( </h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Songs</h3>
    {% if songs.count %}
      {% for song in songs.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ song.title }} by <span id="song-artist"> {{song.artist}}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_song' playlist.id song.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{playlist.name}} Already Has All Songs Available</h5>
    {% endif %}
  </div> 

  {% endblock %} 