{% extends 'base.html' %} {% block content %}

<h1>Playlist Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ playlist.name }}</span>
        <p>Image: {{ playlist.image }}</p>
        <p>Description: {{ playlist.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'playlist_update' playlist.id %}">Edit</a>
        <a href="{% url 'playlist_delete' playlist.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}